
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


#header {
	margin-top: 25px;
	text-align: center;
}

h2 {
	border-bottom: 1px solid #ccc;
	margin-top: 2em;
}

.share {
	text-align: center;
	margin: 80px 0 45px;
}

.buttons {
	margin-top: 40px;
	text-align: center;
}

.buttons .btn {
	margin: 10px 3px;
}