
/* Customize container */
@media (max-width: 767px) {
  	header {
		background: url(/img/PostgresAppIconLarge.png) no-repeat center top;
   		background-size:  180px 180px;
    	margin: 20px auto 0;
		padding: 180px 0 0 0;
	}
	header h1, header h2, header ul {
		text-align: center;
	}
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0 auto;
  }
  	header {
		background: url(/img/PostgresAppIconLarge.png) no-repeat left top;
   		background-size:  180px 180px;
    	margin: 20px auto 0;
		padding: 20px 0 0 200px;
		max-width: 530px;
    	min-height: 180px;
	}
}

header h1 {
	font-weight: normal;
	font-size: 36px;
	margin: 0;
}

header h2 {
	font-weight: normal;
	font-size: 16px;
	margin: 5px 0 0;
}

header ul {
	padding: 0;
	margin: 20px 0 0;
}

header li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

header li a {
	display: block;
	background: rgba(50,90,180,1);
	color: white;
	text-decoration: none;
	padding: 6px 17px;
	border-radius: 3px;
	margin: 5px 2px;
}

header li a:active {
	background: rgba(120,0,0,1);
}

#index-lang-links {
	position: absolute;
	top: 30px;
	right: 30px;
}

#index-lang-links li {
	list-style: none;
	display: inline; 
	padding: 5px;
	border: 1px solid #ddd;
}

#index-lang-links li.current {
	border: 1px solid #999;
}

#index-lang-links li.current a {
	color: #666;
}

body {
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	margin-bottom: 100px;
}











.installInstructions {
	counter-reset: my-badass-counter;
}

.installInstructions li {
	position: relative;
	padding: 4px 0 10px 0;
	margin: 0;
	min-height: 50px;
	list-style: none;
}

.installInstructions li:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px/1 Sans-Serif;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	text-align: center;
	padding: 0;
	border: 5px solid rgba(0,0,0,1);
	opacity: 0.2;
}

.installInstructions li {
	padding-left: 50px;
}


ul.clientApps {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}

.clientApps li {
	display: inline-block;
	padding: 0;
	margin: 10px 30px;
}

.clientApps a {
	display: block;
	padding-top: 125px;
	text-align: center;
	min-width: 120px;
}


.clientApps #pgadmin a {
	background: url(/img/pgadmin_icon.png) no-repeat center top;
	background-size: 120px 120px;
}

.clientApps #postico a {
	background: url(/img/postico_icon.png) no-repeat center top;
	background-size: 120px 120px;
}



.settingsTable {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
	border-collapse: collapse;
}

.settingsTable td {
	border: 1px solid gray;
	padding: 3px;
}

.settingsTable td nth-child(1) {
	width: 40%;
}

.settingsTable td nth-child(2) {
	width: 60%;
}