body {
	font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
	margin-bottom: 100px;
	font-size: 14px;
	line-height: 1.5em;
}

/* Customize container */
@media (max-width: 767px) {
  	header {
		background: url(/img/PostgresAppIconLarge.png) no-repeat center top;
   		background-size:  180px 180px;
    	margin: 20px auto 0;
		padding: 200px 0 0 0;
	}
	header h1, header h2, header ul {
		text-align: center;
	}
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
    margin: 0 auto;
  }
  	header {
		background: url(/img/PostgresAppIconLarge.png) no-repeat left top;
   		background-size:  180px 180px;
    	margin: 60px auto 0;
		padding: 30px 0 0 220px;
		max-width: 530px;
    	min-height: 180px;
	}
}

header h1 {
	font-weight: 300;
	font-size: 36px;
	margin: 0;
}

header h2 {
	font-weight: normal;
	font-size: 16px;
	margin: 15px 0 0;
}

header ul {
	padding: 0;
	margin: 20px 0 0;
}

header li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

header li a {
	display: block;
	background: rgba(50,90,180,1);
	color: white;
	text-decoration: none;
	padding: 6px 17px;
	border-radius: 3px;
	margin: 5px 2px;
}

header li a:active {
	background: rgba(10,50,140,1);
}

.container > h2 {
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	margin: 65px 0 25px;
	text-decoration: underline;
}

#index-lang-links {
	position: absolute;
	top: 30px;
	right: 30px;
}

#index-lang-links li {
	list-style: none;
	display: inline; 
	padding: 5px;
	border: 1px solid #ddd;
}

#index-lang-links li.current {
	border: 1px solid #999;
}

#index-lang-links li.current a {
	color: #666;
}


ul.instructions {
	counter-reset: instruction-counter;
	margin: 0;
	padding: 0;
}

ul.instructions li {
	position: relative;
	padding: 4px 0 10px 0;
	margin: 0;
	min-height: 75px;
	list-style: none;
}

ul.instructions li::before {
	content: counter(instruction-counter);
	counter-increment: instruction-counter;
	position: absolute;
  	top: 50%;
	left: 0;
  	transform: translate(0,-50%);
	width: 60px;
	height: 60px;
	border-radius: 50px;
	font-size: 60px;
	line-height: 1em;
	text-align: center;
	padding: 0;
	border: 5px solid rgba(0,0,0,1);
	opacity: 0.2;
}

ul.instructions li {
	padding: 0 0 0 85px;
	margin: 0 0 25px;
    display: flex;
	flex-direction: column;
	justify-content: center;
}

ul.instructions li p, ul.instructions li pre {
	margin: 0;
	padding: 3px 0;
}

pre {
	font-family: Menlo, fixed-width;
	color: rgb(120,120,120);
	font-size: 11px;
}

tt {
	font-family: Menlo, fixed-width;
	color: rgb(120,120,120);
	font-size: 0.9em;
}

.subdued {
	opacity: 0.4;
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.2em;
}


ul.clients {
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}

ul.clients li {
	display: inline-block;
	padding: 0;
	margin: 10px 30px;
}

ul.clients a {
	display: block;
	padding-top: 115px;
	text-align: center;
	min-width: 120px;
	color: black;
	text-decoration: none;
}

ul.clients #pgadmin a {
	background: url(/img/pgadmin_icon.png) no-repeat center top;
	background-size: 120px 120px;
}

ul.clients #postico a {
	background: url(/img/postico_icon.png) no-repeat center top;
	background-size: 120px 120px;
}



.settingsTable {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid gray;
	border-collapse: collapse;
}

.settingsTable td {
	border: 1px solid gray;
	padding: 3px;
}

.settingsTable td nth-child(1) {
	width: 40%;
}

.settingsTable td nth-child(2) {
	width: 60%;
}