---
layout: default
---

<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="../img/PostgresAppIconSmall.png" width="24" height="24" alt="PostgresAppIconSmall">   Postgres.app</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/documentation/">Documentation</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <h1>{{ page.title }}</h1>

  {{ content }}
</div>
