<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.postgresapp.Postgres2LoginHelper</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Postgres.app/Contents/Library/LoginItems/PostgresLoginHelper.app/Contents/MacOS/PostgresLoginHelper</string>
	</array>
	<key>KeepAlive</key>
	<false/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
